@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --view-transition-name: root;
    --primary-color: #0d6efd;
    --primary-rgb: 13, 110, 253;
    --secondary-color: #6c757d;
    --secondary-rgb: 108, 117, 125;
    --bd-color: #dee2e6;
    --bd-color-translucent: rgba(0, 0, 0, 0.175);
    --link-color: #0b68f3;
    --link-hover-color: #105aca;
    --body-color: #212529;
    --bd-style: solid;
    --bd-radius: 0.38rem;
    --bd-radius-sm: 0.25rem;
    --bd-radius-lg: 0.5rem;
    --bd-radius-xl: 1rem;
    --bd-radius-2xl: 2rem;
    --bd-radius-pill: 50rem;
    --espace-x: 1.5rem;
    --espace-y: 0;
    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --font-family: 'BallparkWeiner';
    --font-size: 1rem;
    --font-weight: 400;
    --body-line-height: 1.5;
    --body-bg: #eeeeee;
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-light-rgb: 248, 249, 250;
    --bs-bg-opacity: 1;
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    height: 100%;
    width: auto;
    background-color: #24100c !important;
    color: #e6dfdd;
}

.navbar{
    background: 
linear-gradient(rgba(136, 132, 81, 0.6), 
rgba(150, 109, 109, 0.6)),
url(/assets/img/fragment_brique.jpg) 
center/cover 
no-repeat 
fixed;
}
.bg-light{
    background-color: rgba(var(--bs-light-rgb), 
    var(--bs-bg-opacity)) !important;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}
image{
    vertical-align: middle;
}
.navbar-toggler {
    padding: 10px;
    border: 2px solid #ee710b;
    background: #eecbad;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.navbar-toggler-icon {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 2;
    align-items: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}
.nav-item {
    color: #dbc088;
    font-size: 1em;
    padding: 0 0.7rem;
    border-left: 0.14rem solid #ffffff;
    text-align: center;
}
.nav-link {
    color: #f3d08a;
    font-weight: 700;
    font-size: 1em;
    padding: 0;
    text-align: center;
    margin: 0.3rem 0;
}
dropdown-toggle {
    white-space: nowrap;
}
.dropdown-menu {
    position: static;
}
.p-0{
   height: 0.1rem;
}
span{
    font-size: 2rem;
}
.header-div {
    height: 115vh;
    background: linear-gradient(100deg, rgba(63, 57, 57, 0.6) 38%, rgba(0, 0, 0, 0.2) 75%), url(/assets/img/la\ team\ Row.jpg) center / cover no-repeat;
    padding: 1.5rem;
    letter-spacing: 0.5rem;
    line-height: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
}
.fw-bolder{
    height: 10vh;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-0.5* var(--bs-gutter-x));
    margin-left: calc(-0.5* var(--bs-gutter-x));
}
.row>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-y);
    flex-shrink: 0;
}
.my-5{
    color: var(--bs-orange);
}
.general-font-styles {
    color: #f8dba1;
    font-size: 1.5em;
}
.profile-pics>img{
    border-radius: 3rem;
}

.modal-btn {
    height: 5rem;
    width: 8rem;
    margin: 4rem;
    padding: 5rem 0.5;
    color: white;
    float: right;
    position: relative;
    border: 0.2rem solid rgb(212, 212, 212);
    background: #fa7000;
    border-radius: 1.5rem;   
}
button:not(:disabled),
 [type=button]:not(:disabled), 
 [type=reset]:not(:disabled),
 [type=submit]:not(:disabled) {
    cursor: pointer;
}
.text{
    color: var(--bs-gray-100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-center{
    color: var(--bs-orange);
    text-align: center !important;
}
.footer-link, .general-btn {
    color: #dbc497;
    font-size: 1rem;
}
#footer-wrapper-div {
    padding: 3.5rem 0.7rem;
    background: rgba(38, 36, 35, 0.670588);
    border-top: 0.5 solid #f1e3c7;
    color: #e2d5bd;
}